<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
          body {
            padding-top: 60px;
              height: 100%;
              padding-bottom: 40px;
          }
        </style>
    </head>
    <body>
    <body>
    <div class="container">
        <div class="well" style="max-width: 400px; margin: 0 auto 10px;">
            <h3 style="text-align: center">Applying to Agiliq?</h3>
            <br>
            <a href={{ login_url }} class="btn btn-primary btn-lg btn-block">Log-in</a>
            <br>
        </div>
    </div>
    </body>
    </body>
</html>